```bash
gcloud compute scp instance-20260103-173043:/home/antonio/MDT2021S003/*.txt . --zone=us-central1-f
```

In [ ]:
import pandas as pd

# from IPython.core.display import display_pretty

In [39]:
spkinfo = pd.read_csv("./datasets/MagicData-RAMC/SPKINFO.txt", sep="\t")
spkinfo.head(20)
spkinfo = spkinfo.sort_values("SPEAKER_ID").reset_index(drop=True)
spkinfo.iloc[70:75]

spkinfo_slice = spkinfo.iloc[70:75].reset_index(drop=True)


latex_table = spkinfo_slice.to_latex(index=False)
print(latex_table)
# with open("spkinfo_slice.tex", "w", encoding="utf-8") as f:
#     f.write(latex_table)
# latex_table
spkinfo_slice

\begin{tabular}{llllll}
\toprule
CHANNEL & SPEAKER_ID & GENDER & AGE & REGION,CITY & DEVICE \\
\midrule
C0 & G00000075 & M & Middle-aged and young people & Sichuan & Mobile phone \\
C0 & G00000076 & F & Middle-aged and young people & Sichuan & Mobile phone \\
C0 & G00000077 & F & Middle-aged and young people & Shanxi & Mobile phone \\
C0 & G00000078 & M & Middle-aged and young people & Shanxi & Mobile phone \\
C0 & G00000079 & M & Middle-aged and young people & Hunan & Mobile phone \\
\bottomrule
\end{tabular}

,CHANNEL,SPEAKER_ID,GENDER,AGE,"REGION,CITY",DEVICE
0,C0,G00000075,M,Middle-aged and young people,Sichuan,Mobile phone
1,C0,G00000076,F,Middle-aged and young people,Sichuan,Mobile phone
2,C0,G00000077,F,Middle-aged and young people,Shanxi,Mobile phone
3,C0,G00000078,M,Middle-aged and young people,Shanxi,Mobile phone
4,C0,G00000079,M,Middle-aged and young people,Hunan,Mobile phone

In [30]:
utterance = pd.read_csv("./datasets/MagicData-RAMC/UTTERANCEINFO.txt", sep="\t")
utterance.iloc[4:8]

,CHANNEL,UTTRANS_ID,SPEAKER_ID-1,SPEAKER_ID-2,TOPIC,VALID(min),TOTAL(min),Environment
4,C0,CTS-CN-F2F-2019-11-15-370.wav,G00000076,G00000075,艺术美术,26.80,31.63,室内
5,C0,CTS-CN-F2F-2019-11-15-1415.wav,G00000086,G00000087,数码产品,27.84,32.09,室内
6,C0,CTS-CN-F2F-2019-11-15-649.wav,G00000088,G00000089,气候环境,27.55,31.02,室内
7,C0,CTS-CN-F2F-2019-11-15-503.wav,G00000182,G00000569,衣食住行,28.52,31.05,室内